html,
body {
    margin: 0;
    padding: 0
}

* {
    font-size: 2vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.window {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #424443;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;

    &.open {
        opacity: 1;
        visibility: visible
    }

    &.cadastro {
        .perfil {
            .thumb {
                width: 10vw;
                height: 10vw;
                background-image: url(https://avatars1.githubusercontent.com/u/18054573?s=460&v=4);
                background-size: cover;
            }
        }

        .component-phone {
            // ...
            color: red    
        }

        * {
            flex-grow: 1
        }
    
        .item {
            color: #D4D4D4;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1vw
        }

        label {
            text-align: right;
            margin-right: 1vw;
            flex: none;
            width: 10vw;
        }

        input {
            flex-grow: 10
        }

        input,
        button {
            height: 4vw;
            border: 0 none;
            padding: 1vw
        }
    }
}